.place-order{
    background-color: rgb(189, 228, 243);
    max-width: 500px;
    margin: auto;
    padding-top: 15px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 40%;
    text-transform: capitalize;
    color:#333333;
}
.place-order>h3{
    padding: 10px 10px;
    letter-spacing: 1.2px;
}
.select-address{
    margin: 0px 10px 13px 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
.specify-address{
    padding: 5px 0px 10px 10px;
}
.specify-address>input{
    cursor: pointer;
}
.specify-address>label{
    font-family: "Baloo 2",sans-serif;
    font-size: 1.2rem;
    padding-left: 10px;
}
.add{
    text-align: right;
    padding-right: 10px;
    color: dodgerblue;
}
.add>span{
    cursor: pointer;
}
.add>span:active{
    color:black;
}
.phone-no{
    background-color: white;
    margin: 0px 10px 20px 10px;
    padding: 10px;
    color: black;
    letter-spacing: 1.2px;
    border-radius: 5px;
}
.phone-no>p{
    font-size: 0.8rem;
    padding-top: 8px;
}
.phone-no input{
    width:70%;
    margin-top: 6px;
    border:1px solid black;
    border-radius: 2px;
    padding:5px;
    padding-left: 10px;
    color: #333333;
}
.bill{
    background-color: white;
    margin: 0px 10px 20px 10px;
    padding: 10px;
    font-size: 1.6rem;
    color: black;
    letter-spacing: 1.2px;
    border-radius: 5px;
}
.bill>h2{
    text-align: right;

}
.bill>p{
    text-align: right;
    font-size: 1.1rem;
    text-transform: lowercase;
}
.help{
    color:dodgerblue;
    cursor: pointer;
    padding-top: 8px;
}
.help:active{
    color:black
}
.submit-order{   
    margin: 0px 10px 20px 10px;
    padding: 10px;
    font-size: 1.6rem;
    border-radius: 5px;
    text-align: center;
}
.submit-order>div{
    background-color: crimson;
    margin-left: 60%;
    font-family: "Baloo 2";
    color: white;
}
.submit-order>div:active{
    transform: scale(0.8,0.9);
}
.delivery-charges{
    transform: scale(1,1);
    background-color: white;
    margin: 0px 10px 20px 10px;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    transform: scale(0,0);
    transition: transform 0.5s ease-out;
}
.delivery-charges.scale
{
    transform: scale(1,1);
    transition: transform 0.5s ease-in;
}
.delivery-charges>li{
    padding-left: 15px;
    list-style-type: square;
    position: relative;
    line-height: 30px;
}
.delivery-charges span{
    position: absolute;
    right:30px;
}
